Source: xppaut
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>= 5), quilt, libx11-dev, xbitmaps
Standards-Version: 3.8.1

Package: xppaut
Architecture: any
Depends: ${shlibs:Depends}
Description: Phase Plane Plus Auto: Solves many kinds of equations
 XPPAUT is a tool for solving
    * differential equations,
    * difference equations,
    * delay equations,
    * functional equations,
    * boundary value problems, and
    * stochastic equations.
 .
 The code brings together a number of useful algorithms and is
 extremely portable. All the graphics and interface are written
 completely in Xlib which explains the somewhat idiosyncratic and
 primitive widgets interface.
