#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# Edited by Isaac Jones for xppaut
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4
export CFLAGS += -g -Wall

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# No configuration necessary

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Compile the package.
	$(MAKE)
	touch build-stamp

clean:
	rm -f build-stamp configure-stamp
	dh_testdir
	dh_testroot

	# Clean up after the build process.
	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	# Install the package into debian/xppaut.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/xppaut


# Nothing to do by default for build architecture-independent:
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
